.page {
    left: 15px;
    right: 15px;
}

.page-enter {
    opacity: 0.5;
    transform: translateX(-40rem);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.page-exit {
    transform: translateX(0);
    transition: transform 700ms;
}

.page-exit-active {
    transform: translateX(-100rem);
    transition: transform 700ms;
}

.pageMain-enter {
    transform: translateX(-40rem);
}

.pageMain-enter-active {
    transform: translateX(0);
    transition:  transform 300ms;
}

.pageMain-exit {
    opacity: 1;
    transform: translateX(0);
    transition: transform 700ms;
}

.pageMain-exit-active {
    transform: translate(200rem);
    transition: transform 700ms;
}

.scrollLeft-exit {
    opacity: 1;
    transform: translateX(0);
    transform: rotate(0);
}

.scrollLeft-exit-active {
    opacity: 1;
    transform: translateX(-20vw);
    transition: opacity 300ms, transform 300ms;
}

.scrollRight-exit {
    opacity: 1;
    transform: translateX(0);
    transform: rotate(0);
}

.scrollRight-exit-active {
    opacity: 1;
    transform: translateX(20vw);
    transition: opacity 300ms, transform 300ms;
}

.dropdown{
    overflow: hidden;
}

.dropdown-enter {
    opacity: 0;
    transform: translateY(-5px);
}

.dropdown-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition:  transform 100ms, opacity 200ms;
}

.dropdown-exit {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 100ms, opacity 200ms;
}

.dropdown-exit-active {
    opacity: 0;
    transform: translateY(-5px);
    transition: transform 100ms, opacity 200ms 50ms;
}
