.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.page {
    left: 15px;
    right: 15px;
}

.page-enter {
    opacity: 0.5;
    transform: translateX(-40rem);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.page-exit {
    transform: translateX(0);
    transition: transform 700ms;
}

.page-exit-active {
    transform: translateX(-100rem);
    transition: transform 700ms;
}

.pageMain-enter {
    transform: translateX(-40rem);
}

.pageMain-enter-active {
    transform: translateX(0);
    transition:  transform 300ms;
}

.pageMain-exit {
    opacity: 1;
    transform: translateX(0);
    transition: transform 700ms;
}

.pageMain-exit-active {
    transform: translate(200rem);
    transition: transform 700ms;
}

.scrollLeft-exit {
    opacity: 1;
    transform: translateX(0);
    transform: rotate(0);
}

.scrollLeft-exit-active {
    opacity: 1;
    transform: translateX(-20vw);
    transition: opacity 300ms, transform 300ms;
}

.scrollRight-exit {
    opacity: 1;
    transform: translateX(0);
    transform: rotate(0);
}

.scrollRight-exit-active {
    opacity: 1;
    transform: translateX(20vw);
    transition: opacity 300ms, transform 300ms;
}

.dropdown{

}

.dropdown-enter {
    opacity: 0;
    transform: translateY(-5px);
}

.dropdown-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition:  transform 300ms, opacity 600ms;
}

.dropdown-exit {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 700ms, opacity 600ms;
}

.dropdown-exit-active {
    opacity: 0;
    transform: translateY(-5px);
    transition: transform 700ms, opacity 600ms;
}
