.page {
    left: 15px;
    right: 15px;
}

.page-enter {
    opacity: 0.5;
    transform: translateX(-40rem);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.page-exit {
    transform: translateX(0);
    transition: transform 700ms;
}

.page-exit-active {
    transform: translateX(-100rem);
    transition: transform 700ms;
}

.pageMain-enter {
    transform: translateX(-40rem);
}

.pageMain-enter-active {
    transform: translateX(0);
    transition:  transform 300ms;
}

.pageMain-exit {
    opacity: 1;
    transform: translateX(0);
    transition: transform 700ms;
}

.pageMain-exit-active {
    transform: translate(200rem);
    transition: transform 700ms;
}

.scrollLeft-exit {
    opacity: 1;
    transform: translateX(0);
    transform: rotate(0);
}

.scrollLeft-exit-active {
    opacity: 1;
    transform: translateX(-20vw);
    transition: opacity 300ms, transform 300ms;
}

.scrollRight-exit {
    opacity: 1;
    transform: translateX(0);
    transform: rotate(0);
}

.scrollRight-exit-active {
    opacity: 1;
    transform: translateX(20vw);
    transition: opacity 300ms, transform 300ms;
}

.dropdown{
    overflow: hidden;
    z-index: 9999;
}

.dropdown-enter {
    opacity: 0;
    transform: translateY(-5px);
}

.dropdown-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition:  transform 50ms, opacity 200ms;
    z-index: 9999;

}

.dropdown-exit {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 50ms, opacity 200ms;
}

.dropdown-exit-active {
    opacity: 0;
    transform: translateY(-5px);
    transition: transform 50ms, opacity 200ms 10ms;
}



/* REACT CALENDAR */
.react-calendar {
    width: 350px;
    max-width: 100%;
    background: white;
    font-family: inherit;
    line-height: 1.125rem;
  }
  .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5rem;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5rem;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    display: flex;
    height: 4.4rem;
    margin-bottom: 1rem;
    color: #194C94;
  }
  .react-calendar__navigation button {
    min-width:  4.4rem;
    background: none;
    border-radius: 30rem;
    color: #194C94;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5rem;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
  }
  .react-calendar__month-view__days__day--weekend {
    color: #d10000;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2rem 0.5rem;
  }
  .react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 1rem 0;
    margin: 0 1rem;
    background: none;
    border-radius:30rem;
  }
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__tile--now {
    background: #194C94;
    color: #fff;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #194C94;
    color: #fff;
  }
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  .react-calendar__tile--active {
    background: #006edc;
    color: white;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #1087ff;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
